<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <title>Voice</title>
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
</head>
<body>
    <div class= "container">
        <h1 class= "bloghead">Blog Post</h1>
        <a href="/blogs/new" class="newbtn">New Blog</a>

        <% blogs.forEach(blog => { %>
            <div class="card mt-4">
                <div class= "card-body">
                    <h4 class= "blog-title"><%= blog.title %></h4>
                    <div class="date">
                        <%= blog.dateCreated.toLocaleDateString() %>
                    </div>
                    <div class="blog-text"><%=blog.description %></div>
                    <a href="blogs/<%= blog.slug %>" class="btn-read">Read More</a>
                    <a href="blogs/edit/<%= blog.id %>" class="btn-info">Edit</a>

                    <form action="/blogs/<%= blog.id %>?_method=DELETE" method="POST" >
                        <button type="submit" class="btn-del">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>